.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image {
    margin-bottom: 1rem;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    /* Adjust max-width as needed */
}

.inquiry {
    text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .contact-container {
        padding: 0 1rem;
        /* Add padding to the sides for smaller screens */
    }

    .contact-form {
        max-width: 100%;
        /* Adjust the width of the form for smaller screens */
    }
}