/* .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image {
    margin-bottom: 1rem;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    /* Adjust max-width as needed */
/* } */

/* .inquiry {
    text-align: center;
} */ 

.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.contact-image {
    flex-basis: 50%;
}

.contact-form {
    flex-basis: 50%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .contact-container {
        padding: 0 1rem;
        /* Add padding to the sides for smaller screens */
    }

    .contact-form {
        max-width: 100%;
        /* Adjust the width of the form for smaller screens */
    }
}