.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form {
    flex: 1;
    margin-right: 20px;
    /* Adjust the spacing between the form and image */
}

.contact-image {
    flex: 1;
    max-width: 300px;
    /* Adjust the maximum width of the image */
}

.center-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    /* Center vertically on the page */
}

